{% extends 'base.html.twig' %}

{% block title %}
    {{ snippet.user.username }} - {{ snippet.title }}
{% endblock %}

{% block body %}
	<article class="article">
		<h1 class="article-title">
			{{ snippet.title }}
		</h1>
      
         {# <audio src="{{audio.preview_url}}" controls></audio>  #}
		<p>
            Rédigé par <kbd>{{ snippet.user.username }}</kbd>
             | Statut : 
            {% if snippet.isPublic == true %}
                <span class="green-pill">Public</span>
            {% else %}
                <span class="yellow-pill">Privé</span>
            {% endif %}
            {% if snippet.isPremium == true %}
                | <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"><path fill="#3b4142" d="M11.99 2C6.47 2 2 6.48 2 12s4.47 10 9.99 10C17.52 22 22 17.52 22 12S17.52 2 11.99 2zm4.24 16L12 15.45L7.77 18l1.12-4.81l-3.73-3.23l4.92-.42L12 5l1.92 4.53l4.92.42l-3.73 3.23L16.23 18z"/></svg>
                 <span>Premium</span>
            {% endif %}
        </p>
		<p class="article-meta">
            Créer le : {{ snippet.createdAt|date('d/m/Y') }}
            <br>
            {% if snippet.editedAt %}
                 - Modifié le : {{ snippet.editedAt|date('d/m/Y') }} 
            {% endif %}
		</p>
		<pre>
            {% if snippet.isPremium == false %}
                <code>{{ snippet.content }}</code>
            {% else %}
                {# On vérifie que l'utilisateur est Premium #}
                {% if is_granted('ROLE_PREMIUM') %}
                    <code>{{ snippet.content }}</code>
                {% else %}
                    <p>Le contenu de ce snippet est réservé aux membres Premium. Abonnez-vous pour accèder aux snippets premium pour 10€ par mois. <a href={{ path('app_payment') }}>Je m'abonne ici</a></p>
                {% endif %}
            {% endif %}
		</pre>

        <div class="">
        {# On affiche le formulaire décortiqué #}
            {{ form_start(SnippetAI) }}
                {# On affiche une ligne avec form_row et on précise laquelle
                    puis on ajoute un attribut hidden avec la valeur
                    de la variable snippet.content
                #}
                {{ form_row(SnippetAI.code, {
                    'label' : ' ',
                    'attr' : { 
                        'hidden' : true,
                        'value' : snippet.content,
                    },
                }) }}
            {{ form_end(SnippetAI) }}
        </div>

        {% if Explication %}
        <button type="submit" onclick="tts()">lire la reponse</button>
            <p class="explication">{{ Explication }}</p>
        {% endif %}

	</article>
    <script>
    const explication= document.querySelector('.explication').value;
    function tts(){
        let body= {
    
        "text": $explication,
        "model_id": "eleven_multilingual_v1",
        "voice_settings": {
          "stability": 0,
          "similarity_boost": 0,
          "style": 0,
          "use_speaker_boost": true
        
      }
     
}
// 'body':JSON.stringify(body);
const option={
    method: 'POST',
    Headers: {
        'accept': '*/*',
        'xi-api-key': '95d60a27c74231a4f733fcfb8a2e0aeb',
        'Content-Type': 'application/json'
    }
};
let url="https://api.elevenlabs.io/v1/text-to-speech/CYw3kZ02Hs0563khs1Fj/stream?optimize_streaming_latency=0&output_format=mp3_44100_128";
fetch(url, option)
.then(Responses=>{
    if(Responses.ok)
    {
    return Responses.json();
}
})
    }
    
    </script>
    
{% endblock %}
